<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to gitPub</h1>

    <% for( let i = 0; i < drinks.length; i++ ) { %> <%const drinkName =
    drinks[i].name.charAt(0).toUpperCase() + drinks[i].name.slice(1)%>

    <a href="/drinks/<%= i %>"><li><%=drinkName%></li></a>
    <% } %>
  </body>
  <style>
    body {
      background-color: steelblue;
      color: blanchedalmond;
    }
  </style>
</html>
